---
import Header from '../components/header.astro'

---

<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="https://cdn-icons-png.flaticon.com/512/7243/7243479.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>My portfolio - Carlos Rodríguez</title>
	</head>
	<body>
		<Header></Header>
		<div class="overflow-x-hidden">
			<div class="h-screen sticky top-0 bg-orange-50 flex flex-col justify-center items-center">
				<div class="container mx-auto">
					<div class="flex flex-col items-center justify-center h-screen">
						<p class="text-neutral-800 text-2xl sm:text-2xl md:text-4xl lg:text-6xl xl:text-8xl font-bold text-center">
							I am Carlos Rodríguez
						</p>
						<p class="text-xl sm:text-xl md:text-2xl lg:text-2xl xl:text-2xl text-center">
							Software developer
						</p>
					</div>
				</div>
			</div>
			
			<div class="h-screen sticky top-0 bg-white flex justify-center items-center" id="about">
				<div class="container mx-auto">
					<p class="text-2xl sm:text-2xl md:text-4xl lg:text-4xl xl:text-4xl text-gray-800 text-center">
						I aspire to be part of one of the most prestigious companies in the country, contributing my knowledge as a <span class="font-bold text-pink-500 animate-pulse">computer engineer</span> for the benefit of society.
					</p>
					
				</div>
				
			</div>
			
				<div class="h-screen sticky bg-neutral-800 flex flex-col justify-evenly" id="skills">
					<div class="container mx-auto">
						<p class="text-xl sm:text-xl md:text-2xl lg:text-2xl xl:text-2xl text-white">Skills</p>
					</div>
					<div class="container mx-auto">
						<p class="text-xl sm:text-xl md:text-2xl lg:text-2xl xl:text-2xl text-cyan-500 mb-8">Programming languages</p>
						<p class="text-xl sm:text-xl md:text-2xl lg:text-2xl xl:text-2xl text-white">Dart, Java, JavaScript, PHP</p>
					</div>
					<div class="container mx-auto">
						<p class="text-xl sm:text-xl md:text-2xl lg:text-2xl xl:text-2xl text-cyan-500 mb-8">Other technologies</p>
						<p class="text-xl sm:text-xl md:text-2xl lg:text-2xl xl:text-2xl text-white">Android, Astro, Bootstrap, CSS, Flutter, Git, HTML, Laravel, Laragon, MongoDB, MySQL, PostgreSQL, Postman, React JS, Rest, Strapi, SQL Server</p>
					</div>
					<div class="fixed bottom-20">

					</div>
				</div>		  
		</div>	  
	</body>
</html>
