<header class="bg-gray-800 text-gray-100 w-full fixed z-10">
  <nav class="flex justify-between items-center h-16 container mx-auto">
    <a href="#" class="text-xl font-bold">My portfolio</a>
    <ul class="flex">
      <li class="">
        <a href="#skills" class="hover:text-gray-400">Skills</a>
      </li>
    </ul>
  </nav>
</header>

